# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry
inventory.*
# End of https://www.toptal.com/developers/gitignore/api/ansible
# Tests
test_*
test-*
test-inventory